.nav1 a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
    padding: 20px;
    
}
.nav1 ul{
    list-style: none;
}
.nav1 li{
    display: inline;
}



.nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
}
.nav2 li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}
.nav2 li a:hover {
    background-color: #555555;
    color: white;
}



.nav3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3877ba;
}
.nav3 li {
    float: left;
}
.nav3 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
}
.nav3 li a:hover {
    background-color: #2c5e94;
}